*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(../assets/fondo.jpeg);
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden ;
}

/* estilos del header */
h1{
    font-size: 2em !important;
    font-weight: bolder !important;
}
a.logosvg{
    background-image: url(../assets/autoprefixer-brands.svg);
    height: 70px;
    width: 70px;
    margin: 0.3rem;
    background-size: contain;
    background-repeat: no-repeat;
}
div.logo{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content:left;
    align-items: center;
    letter-spacing: 5px;
    flex-wrap: nowrap;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(0, 0, 0);
}
.nav-links{
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 2vw;

}
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%; 
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 30px;
    padding: 0.5rem;
    transition: all 0.5s ease 0s;

}

a.nav:hover{
    background-color: #e50dec;
    box-shadow: 0px 15px 20px rgba(255, 36, 255, 0.4);
    color: white;
    transform: translateY(-7px);
    border-radius: 30px;
    padding: 0.5rem;
}
.nav-links li{
    list-style: none;
}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}



/* estilos del main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 1rem 1rem;
}


div.proximos-eventos{
    /* box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2); */
    box-shadow: 15px 15px 5px #08080848, -15px -15px 5px #0000002f;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.548);
}

div.eventos-pasados{
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 30px;

}
h2{
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding-left: 20px;
}
h3{
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.815);
    color: rgb(202, 202, 202);
    padding-left: 20px;
}
p{
    margin: 1rem;
}

.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 250px 200px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;
    margin: auto 1rem 2rem 1rem;
}
.card-image{
    grid-area: image;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text{
    grid-area: text;
    margin: 25px;
}

.card:hover{
    transform: scale(1.2);
}


.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    width: 95vw;
}
input#searchInput{
    border-radius: 30px;
    height: 2rem;
    padding-left: 1rem;
    width: 13rem;
    border: none;
    position: absolute;
    left: 3vw;
    top: 6.3rem;
}
select{
    border-radius: 30px;
    border: none;
    height: 1.5rem;
    width: 12rem;
    padding-left: 1rem;

}
div.selector{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    border-radius: 30px;
    width: 30rem;
}
p.selector{
    color: white;
    padding-right: 1rem;
}



/* estilo de botones en main */
a.btnBody{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    text-decoration: none;
    color: black;
    background-color: white;
    height: 2rem;
    width: 6rem;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
a.btnBody:hover{
    background-color: #e50dec;
    box-shadow: 0px 15px 20px rgba(255, 36, 255, 0.4);
    color: white;
    transform: translateY(-7px);
}
a.btnBody:active{
    transform: translateY(-1px);
}
/* estilos del footer */
footer{
    background-color: black;
}
footer p{
    color: white;
    text-align: center;
}
/* estilos del form */
h2.register{
    padding-left: 0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 650px;
    display: flex;
    box-shadow: 15px 15px 30px #000000, -15px -15px 30px #000000;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.548);   
}
h2.register{
    margin-top: 2rem;
}
form div{
    padding: 1.5vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input.form-control{
    border: 2px solid black;
    border-radius: 15px;
    height: 4vh;
    width: 250px;
    padding-left: 1rem;
}

fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 700;
}

input.btn-gradient-bg{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    text-decoration: none;
    background-color: white;
    height: 30px;
    width: 6rem;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    margin-bottom: 2rem;
}
input.btn-gradient-bg:hover{
    background-color: #e50dec;
    box-shadow: 0px 15px 20px rgba(255, 36, 255, 0.4);
    color: white;
    transform: translateY(-7px);
}
input.btn-gradient-bg:active{
    transform: translateY(-1px);
}



@media screen and (max-width:1200px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}

@media screen and (max-width:800px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        min-height: 90vh;
        top: 16.4vh;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        position: absolute;
        right: 3vw;

    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;

        
    }
}


.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}